li {
  list-style: none;
}

input[type=checkbox] {
  float: left;
  margin-right: 10px;
}

.Results {
  margin-top: 20px;
}

.remove {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
}
